# Learn_2 (Function)

## Function

In [1]:
def area (l1, l2):
    "Area measurement"  ###Docstring (Documentation String)###
    print (l1 * l2)
area (4,9)

36

In [2]:
area (9,19)

171

In [3]:
def hi ( str ):
    "This 'hi' print a passed string into this funct"
    print (str)
hi

In [4]:
hi

In [5]:
def hi ( str ):
    "This 'hi' print a passed string into this funct"
    print (str)
    return

In [6]:
hi

In [9]:
numb_input = int(input("input your desire number"))

def numb_checker(number):
    if number % 2 == 0:
        return True  ### Exit function and return True if the number is even###
    return False  ### Otherwise, return False ###

is_even = numb_checker(numb_input)
print(is_even)

if is_even is True:
    print (f"{numb_input} is even")
else: 
    print (f"{numb_input} is odd")

input your desire number 900000

True
900000 is even

In [10]:
numb_input = int(input("input your desire number"))

if numb_input % 2 == 0:
    print(f"{numb_input} is even")
else:
    print(f"{numb_input} is odd")

input your desire number 9099990

9099990 is even

### Calling Function

In [11]:
def hi ( str ):
    "This 'hi' print a passed string into this funct"
    print (str)
    return
    
hi ("My learn journey")
hi ("Journey 2")

My learn journey
Journey 2

In [12]:
def hi ( str ):
    "This 'hi' print a passed string into this funct"
    print (str)
    
hi ("My learn journey")
hi ("Journey 2")

My learn journey
Journey 2

### Pass by Ref

In [13]:
def abc (mylist):
    mylist.append([1,3,5])
    print(f"Values inside my abc: {mylist}")
    return

mylist = [7,8,9]
abc (mylist)
print(f"Values outside my abc: {mylist}")

Values inside my abc: [7, 8, 9, [1, 3, 5]]
Values outside my abc: [7, 8, 9, [1, 3, 5]]

In [14]:
def abc (mylist):
    mylist = ([1,3,5])
    print(f"Values inside my abc: {mylist}")
    return

mylist = [7,8,9]
abc (mylist)
print(f"Values outside my abc: {mylist}")

Values inside my abc: [1, 3, 5]
Values outside my abc: [7, 8, 9]

### Function Arguments

In [15]:
def abd (str):
    print (str)
    return;

abd ("blank")

blank

In [16]:
def abd (afgd):
    print (afgd)
    return;

abd ("Test1")

Test1

In [17]:
def abd (afgd): #look at afgd
    print (afgd) 
    return;

abd (afgd = "Test1") #afgd = ... --> the function

Test1

In [18]:
def mybio (name, gender, age): #Another example
    print (f"Name: {name}")
    print (f"Gender: {gender}")
    print (f"Age: {age}")
    return;

mybio (gender = "Male", name = "Leo", age = 37)

Name: Leo
Gender: Male
Age: 37

In [19]:
def mybio (name, gender, age=20): #Default arguments
    print (f"Name: {name}")
    print (f"Gender: {gender}")
    print (f"Age: {age}")
    return;

mybio (gender = "Male", name = "Leo", age = 37)
mybio (gender = "Male", name = "kiro")

Name: Leo
Gender: Male
Age: 37
Name: kiro
Gender: Male
Age: 20

In [20]:
def aaa(arg1, *arg2): #Variable-length argument
    print(f"The Output is: ")
    print(f"{arg1}")
    for var in arg2:
        print(var)
    return;

aaa (10,20)
aaa (11,15,17, "k")

The Output is:
10
20
The Output is:
11
15
17
k

In [21]:
def mybio (name):
    print (f"Name: {name}")
    return;

mybio ("kiki", "koko") #mybio() takes 1 positional argument but 2 were given

TypeError: mybio() takes 1 positional argument but 2 were given

In [22]:
def mybio (name, *name2): #Another var-length arguments
    print (f"Name: {name}")
    for var in name2:
        print (f"New Name: {var}")
    return;

mybio ("kiki", "Lolo", "kado") 
mybio ("Kaka", "Kako")

Name: kiki
New Name: Lolo
New Name: kado
Name: Kaka
New Name: Kako

In [23]:
amb = lambda a1, a2: a1+a2 #Anonymous Function

def amb(a1, a2):
    return a1+a2

print (f" Total Value: {amb(10,3)}")
print (f" Total Value: {amb(10,9)}")

 Total Value: 13
 Total Value: 19

In [24]:
def amb(a1, a2): #The same code as before, the same result
    return a1+a2 

print (f" Total Value: {amb(10,3)}")
print (f" Total Value: {amb(10,9)}")

 Total Value: 13
 Total Value: 19

In [25]:
simple_add = lambda a1, a2: a1 + a2 #New mod lambda expression

def amb(a1, a2):
    result = simple_add(a1, a2)
    return f"Total value: {result}" # Don't add print() since #
                                    # it will produce None in your code #
print(amb(10, 3))
print(amb(10, 9))

Total value: 13
Total value: 19

In [43]:
def abcde (a1, a2):    #Return Statement 1
    totala = a1 + a2
    totali = totala + a2
    print(f"Values inside my abcde: {totala}")
    return totali
    
totala = abcde(3, 5)
print(f"Values outside my abcde: {totala}")

Values inside my abcde: 8
Values outside my abcde: 13

In [37]:
def abcde (a1, a2): #Return Statement 2
    total7 = a1 + a2
    total8 = total7 + a2
    print(f"Values inside my abcde: {total7}")
    return total7, total8

total7, total8 = abcde(3, 5)
print(f"Values outside my abcde: {total7}, {total8}")

Values inside my abcde: 8
Values outside my abcde: 8, 13

In [73]:
def abcd (a1, a2, a3): #Return Statement 3
    total = a1 + a2
    total2 = total + a2
    total3 = total + total2 + a3
    print(f"Values inside my abcd: {total}")
    return total, total2, total3

total, total2, total3 = abcd(3, 5, 7)
print(f"Values outside my abcd: {total}, {total2} and {total3}")

Values inside my abcd: 8
Values outside my abcd: 8, 13 and 28

### Variable Scope

In [80]:
Total9 = 0 
def sum (c1, c2):
    total9 = c1+c2
    print (total9)
    return total9

sum (10,5)
print (total9)

15
0

In [91]:
Total10 = 0   #this is your global variable

def sum (d1, d2):
    total10 = d1 + d2   #and your local
    print("Before:", total10)
    return total10

sum (10, 5)
print("After:", total10)

Before: 15
After: 0

In [96]:
cat_total = 25

def pet_total():
    dog_total = 45
    return cat_total + dog_total

def rab_total():
    return cat_total + cat_total

pet_total()
rab_total() #The result only shows the last command/code, since you did't add print or 
            #assign pet total () into a value/function

50